body { font-family: Arial, Helvetica, sans-serif;
background: #b4bde9 url(images/backg.gif) repeat-y;
padding: 0 0 40px 100px;

}

/* a:link { color: #119; text-decoration:none;}
 a:visited { color: #116; text-decoration:none;}*/

a img { border: 0 }


#logo {
  width: 200px;
  height: 54px;
  background: url(images/logoird.jpg) no-repeat;
}

#logo a {
  display: block;
  width: 200px;
  height: 54px;
}


h1, h2, .images { text-align: center }

h3 { margin-top: 50px }

.desc { margin-right: 250px }

#menu {
  float: right;
  font-weight: bold;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0
}

#menu li { padding-bottom: 10px }

#download_model { 
#  font-weight: bold;
  margin: 0;
  padding: 0
}


#download_tools { 
  margin: 0;
  padding: 0
}

.spacer { clear: both; border:0; visibility: hidden }

.images { border: 1px solid black}

address {
  float: left;
  font-style: italic;
  font-size: 0.8em;
  width: 40% }

address strong {
  font-weight: normal;
  font-size: 1.3em
}

.petitefeuille {
  width: 750px;
/*
*  margin: 0 auto;
*/
  text-align:	justify;
  }
.pucecentree { 
  text-align:	left;
  }
